.mainLayout {
  width: 100%;
  height: 100vh;

  .layout {
    width: 100%;
    height: 100vh;
    // background: #202221;
    background: #000;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    /* General Styles */

    .left {
      width: 65%;
      height: 95vh;
      background: #000;
      border-radius: 10px;
      margin-top: 30px;

      /* General Styles for .left */

      .subLeft {
        margin-top: 10px;

        .box {
          width: 45%;
          height: 21vh;
          // padding: 10px;
          background: #202221;
          border-radius: 10px;
          margin: 4px;
          padding: 6px;
          display: flex;
          // justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 4px;
          // flex-wrap: wrap;

          /* General Styles for .box */
        }
        .bigBoxWrapper {
          display: flex;
          gap: 9px;
          flex-direction: column;
          .bigBox {
            width: calc(90% + 10px);
            height: 30vh;
            background: #202221;
            border-radius: 10px;
            position: relative;
            top: 7px;
            padding: 10px;
            margin-inline: auto;
            // display: flex;
            // align-items: center;

            /* General Styles for .bigBox */

            .innerBigBox {
              visibility: hidden;
              display: flex;
              gap: 10px;
              @media screen and (max-width: 768px) {
                display: none;
              }
              table {
                width: 90%;
                background: #fff;
                color: #000;
                border-radius: 10px;

                tr {
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  width: 280px;
                }
              }

              /* General Styles for .innerBigBox */
            }
          }
        }

        .rectangle {
          width: 45%;

          background: #202221;
          border-radius: 10px;
          margin: 10px 5px;
          margin-bottom: 0;
          padding: 10px;

          /* General Styles for .rectangle */

          .innerRect {
            height: 4vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            /* General Styles for .innerRect */

            span {
              margin-top: 2px;
              font-size: 20px;
              cursor: pointer;
            }

            ul {
              position: absolute;
              top: 100%;

              /* General Styles for ul */

              li {
                list-style: none;
                background: #fff;
                color: #000;
                width: 350px;
                height: 4vh;
                border-radius: 7px;
                margin: 5px;
                padding: 0 10px;
                cursor: grab;
              }
            }
          }
        }
      }
    }

    .right {
      width: 25%;
      height: 95vh;
      background: #000;
      border-radius: 10px;

      /* General Styles for .right */

      .innerRight {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        margin-top: 20px;

        /* General Styles for .innerRight */

        .box {
          width: 90%;
          height: 26vh;
          background: #202221;
          border-radius: 10px;
          margin-inline: auto;
          padding: 10px 20px;

          /* General Styles for .box */

          .form {
            display: flex;
            align-items: center;

            /* General Styles for .form */

            label {
              margin-bottom: 5px;

              /* General Styles for label */

              .innerBigBox {
                display: flex;
                gap: 10px;
                margin-top: 5px;
                flex-wrap: wrap;

                /* General Styles for .innerBigBox */

                .rectBox {
                  padding: 10px;
                  border-radius: 5px;
                  height: 40px;
                  background: #fff;
                  color: #000;
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      // height: 170vh;
      height: auto;
      background: #000;
      .layout {
        height: auto;
      }
      .left {
        border-radius: 0;
        width: 90%;
        // height: 106vh;
        .subLeft {
          // height: 112vh;
          .rectangle {
            height: auto;

            .innerRect {
              ul {
                li {
                  width: calc(280px / 2);
                  //  padding: 0px 5px;
                }
              }
            }
          }
          .box {
            height: auto;
            gap: auto;
            width: 100%;
          }
        }
        .bigBox {
          width: 100%;
          .innerBigBox {
            flex-wrap: wrap;
          }
        }

        .rectangle {
          width: 100%;
        }
      }

      .right {
        width: 100%;
        margin-top: 20px;
        // height: 205vh;
        border-radius: 0;
      
        .innerRight {
          .box {
            height: auto;
            width: 90%;
          }
        }
      }
    }
    @media only screen and (max-width: 992px) {
      .right {
        height: 100%;
      }
    }
  }
 
}
